openapi: 3.0.0
servers:
  - url: https://api.atomgit.com
    description: prod
  - url: https://test-api.atomgit.com
    description: test
info:
  description: |
    AtomGit 提供了REST API,您可以使用 Git CLI、curl、官方 Octokit 库和第三方库与此API进行交互。

    ## API 版本
    每当您向 REST API 发出请求时，您都必须指定要使用的 REST API 版本，您应该使用X-Api-Version标头来指定 API 版本。例如：
    ```
    $ curl --header "X-Api-Version:2023-02-21" https://api.atomgit.com/user/info
    ```
    没有标头的请求X-Api-Version将默认使用该2023-02-21版本。
    如果您指定不再受支持的 API 版本，您将收到400错误消息。
    ## token 验证
    AtomGit提供的REST API支持Oauth2令牌和私人令牌两种验证方式：
    1. OAuth2令牌（在标头中发送）
    ```
      $ curl -H "Authorization: Bearer OAUTH-TOKEN" https://api.atomgit.com
    ```
    2. 私人令牌令牌 （在标头中发送）
    ```
      $ curl -H "Authorization: Bearer PERSONAL-TOKEN" https://api.atomgit.com
    ```

  version: 2023-02-21
  title: 关于AtomGit API
  termsOfService: "https://api.atomgit.com"
  contact:
    name: API Support
    email: lish@csdn.net
    url: https://github.com/Redocly/redoc
  x-logo:
    url: "https://file.atomgit.com/uploads/assets/logo-footer.png"
    altText: AtomGit logo
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: "https://github.com/Rebilly/generator-openapi-repo"
tags:
  - name: user
    description: Operations about user
    x-displayName: Users
x-tagGroups:
  - name: User Management
    tags:
      - user
paths:
  # /user:
  #   post:
  #     tags:
  #       - user
  #     summary: Create user
  #     description: This can only be done by the logged in user.
  #     operationId: createUser
  #     responses:
  #       default:
  #         description: successful operation
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/User"
  #       description: Created user object
  #       required: true
  # 获取用户个人信息
  /user/info:
    get:
      tags:
        - user
      summary: Get the authenticated user info
      description: This can only be done by the logged in userinfo.
      operationId: getTheAuthenticatedUser
      parameters:
        - name: Authorization
          in: header
          description: "The Oauth2 token"
          required: true
      responses:
        401:
          description: 'Invalid token, please provide correct token'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidToken"
            application/xml:
              schema:
                $ref: "#/components/schemas/InvalidToken"
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
            application/xml:
              schema:
                $ref: "#/components/schemas/User"
  # 更新用户个人信息
  # /user:
  #   patch:
  #     tags:
  #       - user
  #     summary: Update the authenticated user
  #     description: This can only be done by the logged in userinfo.
  #     operationId: updateTheAuthenticatedUser
  #     parameters:
  #       - name: Authorization
  #         in: header
  #         description: "The Oauth2 token"
  #         required: true
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/UpdateAuthenticatedUserDTO"
  #       description: update user object
  #       required: true
  #     responses:
  #       401:
  #         description: 'Invalid token, please provide correct token'
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/InvalidToken"
  #           application/xml:
  #             schema:
  #               $ref: "#/components/schemas/InvalidToken"
  #       200:
  #         description: successful operation
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/User"
  #           application/xml:
  #             schema:
  #               $ref: "#/components/schemas/User"
  #       400:
  #         description: paramter error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ParamterError"
  #           application/xml:
  #             schema:
  #               $ref: "#/components/schemas/ParamterError"
  # 根据用户名查询用户信息
  /users/{username}:
    get:
      tags:
        - user
      summary: Get user by username
      description: Get user by username
      operationId: getUserByUsername
      parameters:
        - name: Authorization
          in: header
          description: "The Oauth2 token"
          required: true
        - name: username
          in: path
          description: "username"
          required: true
      responses:
        401:
          description: 'Invalid token, please provide correct token'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidToken"
            application/xml:
              schema:
                $ref: "#/components/schemas/InvalidToken"
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
            application/xml:
              schema:
                $ref: "#/components/schemas/User"     
 # 获取当前用户的邮箱列表
  /user/emails:
    get:
      tags:
        - user
      summary: List email addresses for the authenticated user
      description: List email addresses for the authenticated user
      operationId: listEmail
      parameters:
        - name: Authorization
          in: header
          description: "The Oauth2 token"
          required: true
      responses:
        401:
          description: 'Invalid token, please provide correct token'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidToken"
            application/xml:
              schema:
                $ref: "#/components/schemas/InvalidToken"
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserEmailVO"
            application/xml:
              schema:
                $ref: "#/components/schemas/UserEmailVO"     
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
    Id:
      type: integer
      format: int64
      readOnly: true
    Tag:
      type: object
      properties:
        id:
          description: Tag ID
          allOf:
            - $ref: "#/components/schemas/Id"
        name:
          description: Tag name
          type: string
          minLength: 1
      xml:
        name: Tag
    ParamterError:
      type: object
      properties:
        cause:
          description: error cause
          type: string
          example: MESSAGE.PARAMETER_ERROR
        error_code:
          description: PARAMETER_ERROR
          type: string
          example: error code
        error_message:
          description: PARAMETER_ERROR
          type: string
          example: 用户昵称不合法（长度不能小于1且不能大于20个字符）
        trace_id:
          description:  trace id   
          type: string
          example: trace_id   
        code:
          description: response code
          type: Integer
          example: 1000      
    InvalidToken:
      type: object
      properties:
        error:
          description: error
          type: string
          example: invalid_token
        error_description:
          description: error description
          type: string
          example: Invalid token, please provide correct token
    UpdateAuthenticatedUserDTO:
      type: object
      properties:
        name:
          description: The current user's nickname is between 1 and 20 characters in length
          type: string
          example: 这就是我的昵称
        blog:
          description: The blog address of the current user is between 1 and 100 characters
          type: string
          example: https://youboke.com
        company:
          description: The company name of the current user is between 1 and 50 characters
          type: string
          example: atom
        location:
          description: The current user's location is between 1 and 20 characters
          type: string
          example: beijing
        bio:
          description: The current user's profile is between 1 and 200 characters
          type: string
          example: hello i am putianyang
    UserEmailVO:
      type: object
      properties:
        email:
          description: email
          type: string
          example: 2xas@qq.com
        verified:
          description: the email is verified
          type: boolean
          example: false
        visibility:
          description: visibility(public or private)
          type: string
          example: public
    User:
      type: object
      properties:
        login:
          description: this user name
          type: string
          example: mrpuatomgit
        id:
          description: this user id
          type: string
          example: 63db126c0566d2f7d2c9498c
        url:
          description: return personal information interface in json format
          type: string
          example: https://test-api.atomgit.com/users/mrpuatomgit
        name:
          description: User's nisckname
          type: string
          example: 这就是我的昵称
        company:
          description: User's company
          type: string
          example: atom
        blog:
          description: User's personal website or blog
          type: string
          example: https://youboke.com
        location:
          description: User's location
          type: string
          example: beijing
        email:
          description: User's email
          type: string
          example: 2214882769@qq.com
        bio:
          description: User's brief introduction
          type: string
          example: hello i am putianyang
        avatar_url:
          description: User's avatar
          type: string
          example: https://atomgit.oss-cn-beijing.aliyuncs.com/uploads/user/1656318880150_5104.png
        html_url:
          description: User's personal homepage
          type: string
          example: https://test.atomgit.com/mrpuatomgit
        public_repos:
          description: User's public repostory count
          type: Integer
          example: 3
        total_private_repos:
          description: User's private repostory count
          type: Integer
          example: 2
        owned_private_repos:
          description: User's self private repostory count
          type: Integer
          example: 1
        created_at:
          description: User's register time
          type: string
          example: '2023-02-02 09:31:24'
        updated_at:
          description: User's update personal information time
          example: '2023-02-02 09:31:24'
  requestBodies:
    UserArray:
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/User"
      description: List of user object
      required: true
  examples:
    Order:
      value:
        quantity: 1
        shipDate: "2018-10-19T16:46:45Z"
        status: placed
        complete: false
